<%- include("partials/header.ejs") %>
  <img src="<%= earthUrl %>" alt="Image of Planet Earth">
  <p>
    Earth, our home planet, is a captivating oasis of life in the vastness of space. 
    It is a terrestrial world blessed with a unique blend of breathtaking landscapes, 
    vibrant ecosystems, and a delicate balance that nurtures the diversity of life. 
    With its mesmerizing blue oceans, lush green forests, towering mountains, and vast deserts, 
    Earth is a tapestry of awe-inspiring beauty. Its atmosphere, a precious shield, 
    provides us with the air we breathe, moderates temperatures, and protects us from the 
    harshness of space. The dynamic interaction between land, water, and atmosphere sustains 
    a complex web of life, making Earth a haven for countless species, including the remarkable 
    human civilization. As the third planet from the Sun, Earth holds a remarkable place in 
    the universe, offering us the perfect conditions for existence, exploration, and discovery. 
    It is a constant reminder of the interconnectedness of all living beings and the 
    responsibility we share in preserving and cherishing this remarkable planet we call home.
  </p>
<%- include("partials/foot.ejs") %>