<%- include("partials/header.ejs") %>
  <div id="home-only">
    <h2>Welcome to our celestial sanctuary!</h2>
     Embark on a captivating journey through our solar system and beyond. 
     Explore the most mesmerizing (not to mention the best!) planets in the Universe—Jupiter, 
     Mars, Saturn, and Neptune—each with its own unique beauty and secrets.
    <br><br>
    <img src="https://i.gifer.com/NG5F.gif" alt="solarsystem">
  </div>
<%- include("partials/foot.ejs") %>
