<%- include("partials/header.ejs") %>
  <img src="img/jupiter.png" alt="jupiter">
  <p>
		Jupiter, the largest planet in our solar system, is a breathtaking celestial giant 
    that captivates astronomers and space enthusiasts alike. With its mesmerizing swirls 
    of vibrant clouds and iconic Great Red Spot, Jupiter is a true masterpiece of nature. 
    Its immense size, more than 11 times the diameter of Earth, grants it a dominant presence 
    in our cosmic neighborhood. Jupiter's atmosphere is predominantly composed of hydrogen and 
    helium, giving it a gaseous nature. Deep within its atmosphere lies a dense core, surrounded 
    by layers of metallic hydrogen. This fascinating planet boasts a dynamic and 
    ever-changing atmosphere, featuring powerful storms, including the Great Red Spot—an enormous 
    tempest larger than Earth itself. Jupiter also hosts a remarkable system of moons, with the 
    four largest—Io, Europa, Ganymede, and Callisto—known as the Galilean moons, named after 
    their discoverer Galileo Galilei. These moons harbor a multitude of intriguing features, 
    such as volcanic activity, subsurface oceans, and the potential for supporting life. 
    Jupiter's enchanting presence in the night sky has been a source of inspiration for generations, 
    inviting us to gaze into the depths of the universe and wonder at the mysteries it holds. 
  </p>
<%- include("partials/foot.ejs") %>
