<%- include("partials/header.ejs") %>
  <img src="img/mars.png" alt="mars">
  <p> 
		Mars, often referred to as the "Red Planet," is a captivating world that has long 
    fascinated astronomers and sparked the imagination of humanity. As the fourth planet from the 
    Sun, Mars stands as a testament to the incredible diversity of our solar system. 
    Its distinct reddish hue, caused by iron oxide dust covering its surface, gives Mars a unique and 
    unmistakable appearance. Mars is smaller than Earth but boasts intriguing features that have drawn 
    scientific interest and exploration. Its thin atmosphere primarily consists of carbon dioxide, 
    with traces of nitrogen and argon. Mars is home to the largest volcano in the solar system, Olympus Mons, 
    which reaches a staggering height of approximately 13.6 miles (22 kilometers). Valles Marineris, an 
    expansive canyon system, stretches across its surface, rivaling the size of the Grand Canyon on Earth. 
    The planet also showcases polar ice caps, composed of water ice and carbon dioxide frost, which undergo 
    seasonal changes. One of the most significant missions to Mars is the ongoing exploration by 
    NASA's rovers, including Curiosity and Perseverance, which have provided invaluable data about 
    the planet's geology, climate, and potential for past or present life. Mars holds a special place in our 
    collective consciousness as a potential future destination for human exploration and colonization. 
    Its mysteries continue to beckon us, inviting us to uncover its secrets and deepen our understanding of our 
    neighboring celestial body.
  </p>
<%- include("partials/foot.ejs") %>
