<%- include("partials/header.ejs") %>
  <img src="img/neptune.png" alt="neptune">
  <p>
		Neptune, the majestic ice giant of our solar system, casts a spell of intrigue and mystery. 
    As the eighth and farthest planet from the Sun, Neptune resides in the outer realms, offering a 
    captivating glimpse into the outer edges of our cosmic neighborhood. With its brilliant azure hue, 
    Neptune stands out as a mesmerizing jewel amidst the darkness of space. Its distinct color is a result of 
    methane in its atmosphere, which absorbs red light and reflects a stunning blue shade. 
    Neptune's atmosphere is composed of hydrogen, helium, and traces of methane, creating a 
    dynamic and turbulent environment. Storm systems, like the famous Great Dark Spot, dance across its surface, 
    showcasing the planet's active weather patterns. Despite its remote location, 
    Neptune radiates a profound influence on its surroundings. It boasts a collection of intriguing moons, 
    with Triton being the largest—a world of frozen nitrogen, geysers, and peculiar retrograde orbit. 
    Neptune is also encircled by a system of rings, although they are faint and composed mainly of 
    dust particles. Voyager 2's flyby in 1989 provided us with our closest and most detailed 
    glimpse of this distant world, uncovering its intricate features and expanding our knowledge of 
    the outer realms. Neptune's enigmatic allure invites us to explore the 
    boundaries of our understanding, beckoning us to ponder the vastness of our universe and 
    the wonders that await us in the far reaches of space.
  </p>
<%- include("partials/foot.ejs") %>
