body {
  background-color: #0b1417;
  color: gray;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 4em;
  margin-bottom: 0px;
}

header, main, nav, footer {
  text-align: center;
}

nav a {
  padding: 15px;
  padding-bottom: 4px;
  font-size: 1.8em;
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 2px;
  font-size: 2em;
  transition: .9s;
}

nav .current {
  color: #ff9e64;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: #bb9af7;
}

footer img {
  width: 64px;
  height: 64px;
}

table {
  margin: 0px auto;
}

td {
  padding-right: 10px;
  font-size: 1.3em;
}

td strong {
  color: orange;
}

#table_header {
  background-color: #351a00;
}

.table_row {
  background-color: #753900;
}

ul {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

iframe {
  display: block;
  margin: 0 auto;
}


.hobby {
  color: yellow;
}
