body {
  background-color: black;
  color: gray;
}

header, main, nav, footer {
  text-align: center;
}

nav a {
  padding: 15px;
  padding-bottom: 4px;
  font-size: 1.8em;
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 2px;
  font-size: 2em;
  transition: .9s;
}

main {
  display: flex;
  justify-content: center;
}

/* TODO: instead of using px use something that bases itself off of the view size */
footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

footer img {
  width: 64px;
  height: 64px;
}
