<%- include("partials/header.ejs") %>
  <div id="content-history">
    <p>
      Haiku is a traditional form of Japanese poetry that dates back to the 17th century. 
      Its origins can be traced to the collaborative linked-verse poetry called "renga," 
      where the opening stanza, known as "hokku," set the tone for the rest of the poem. 
      Eventually, the hokku gained popularity as an independent poetic form.<br><br>
      The master poet Matsuo Basho, who lived in the 17th century, played a significant role in 
      shaping haiku into the concise and evocative form we know today. His works emphasized simplicity, 
      brevity, and a focus on nature, often capturing fleeting moments and sensations. 
      A standard haiku consists of three lines with a syllable pattern of 5-7-5, totaling 17 syllables.<br><br>
      Over time, haiku spread beyond Japan's borders and became an influential poetic style worldwide. 
      Modern haiku poets often explore a range of themes beyond nature, incorporating human experiences, 
      emotions, and contemporary subjects. The essence of haiku remains in its ability to convey profound 
      imagery and evoke deep emotions within the confines of its minimalistic structure.
    </p>
  </div>
<%- include("partials/footer.ejs") %>
