<%- include("partials/header.ejs") %>
  <div id="content-writers">
    <div class="square">
      <p class="hidden writer">
        Matsuo Bashō was the most famous poet of the Edo period in Japan. During his lifetime, 
        Bashō was recognized for his works in the collaborative haikai no renga form; today, 
        after centuries of commentary, he is recognized as the greatest master of haiku.
      </p>
      <img src="/img/writer1.jpg">
    </div>

    <div class="square">
      <p class="hidden writer">
        Masaoka Shiki, pen-name of Masaoka Noboru, was a Japanese poet, author, and literary critic in 
        Meiji period Japan. Shiki is regarded as a major figure in the development of modern haiku poetry, 
        credited with writing nearly 20,000 stanzas during his short life.
      </p>
      <img src="/img/writer2.jpg">
    </div>

    <div class="square">
      <p class="hidden writer">
        Elizabeth Searle Lamb was an American poet. She is known for writing English-language haiku. 
        Raymond Roseliep called her the "First Lady of American haiku". Her work has been translated 
        into other languages.
      </p>
      <img src="/img/writer3.jpg">
    </div>
  </div>
<%- include("partials/footer.ejs") %>
