    </div>
   	<footer>
      <img src = "img/logo.png">
      <p>
        CST336 Internet Programming. 2023 &copy; Last_Name<br>
        <strong>Disclaimer:</strong> The information in this webpage is used for academic purposes only.
      </p>
    </footer>
  </body>
</html>
