/* * {
  border: 1px solid black;
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 8%;
  width: 60%;
}

footer small {
  opacity: .5;
}

address a {
  color: #e25600;
  text-decoration: none;
}

.content {
  width: 60%;
}

.content header {
  font-weight: bold;
}

.content nav {
  display: flex;
  justify-content: space-evenly;
}

.content nav a {
  border: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px #bbb;
}

.current {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.content_middle {
  display: flex;
  justify-content: center;
}

.content_middle p {
  max-width: 50%;
}

.middle_source {
  border: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
  color: black;
  background-color: #ffb700;
  box-shadow: 2px 2px #bbb;
}

.middle_content_1 {
  display: flex;
  justify-content: space-evenly;
}

.middle_content_1 img {
  width: 224px;
  height: 111px;
}

.middle_content_1 p {
  max-width: 50%;
}
